<h1>Welcome</h1>

<p>Have fun with this cross-platform sample application.</p>

<h2>Feature list</h2>

<ul>
  <li>Angular 4.x</li>
  <li>Angular CLI for dev, prod and hmr</li>
  <li>Real responsive & adaptive menu/sidebar/tab bar- heavily inspired by <a target="_blank" href="http://scottjensen.design/2016/04/designing-an-alternative-to-the-hamburger-menu/">Scott Jensen</a></li>
  <li class="feature-in-development">Cordova for mobile apps</li>
  <li class="feature-in-development">Electron for desktop applications</li>
</ul>

<h2>Info</h2>

<ul>
  <li>Original author: Manuel Rauber, Thinktecture AG (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</li>
</ul>
